* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 400px;
    height: auto;
    margin: 0px 0;
}

.loading {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.loading-circle {
    width: 24px;
    height: 24px;
    border: 4px solid #fff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    margin-right: 10px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer {
    width: 100%;
    font-size: 14px;
}